.article {
  display: flex;
  flex-direction: column-reverse;
}

.article__picture {
  width: 100%;
}

.article__title {
  margin: 16px 0;
  text-align: center;
}

.article__text {
  padding: 0 16px;
}

.article__footer {
  display: flex;
  margin-bottom: 20px;
  padding: 0 16px;
}

.article__date {
  margin-left: auto;
  font-style: italic;
}

.article__to-back {
  svg {
    transform: rotate(180deg);
    path {
      fill: @main-color;
    }
  }

  &:hover {
    path {
      fill: lighten(@main-color, 30%);
    }
  }
}

@media (min-width: @tablet-width) and (max-width: @desktop-width) {
  .article__body {
    padding: 0 20px;
  }
}

@media (min-width: @tablet-width) {
  .article__title {
  margin-bottom: @subheading-mr;
  margin-top: 0;
  font-size: 24px;
  text-align: left;
  }

  .article__picture {
  width: 214px;
  float: left;
  margin-right: 20px;
  border: 2px solid @bg;
  border-radius: 4px;
}

.article__text {
  margin: 0;
  margin-bottom: 24px;
  }

  .article__footer {
  margin-top: 20px;
  margin-bottom: 40px;
}
}