.bookmark {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bookmark__item {
  background-color: #1a172a;

  &::before {
    content: "";
    border-radius: 0;
    background: transparent;
    background-image: url("../img/bookmark.svg");
  }
}

.bookmark__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-weight: normal;
}

.bookmark__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media(max-width: @mobile-width) {
  .bookmark__item {
    padding: 10px;
  }
}