.preview__wrapper {}

.preview__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  margin: 0 auto;
}

.preview__content-img {
  width: 100%;
  margin-bottom: 16px;
}

.preview__button {
  margin-bottom: 20px;
}

.preview__desc {
  padding: 0 20px;
  font-size: 20px;
}

.preview__genre {
  margin: 16px;
}

.preview__genre {
  h3 {
    display: inline-block;
  }
}


h3 {
  margin: 0;
  font-weight: normal;
  font-size: 22px;
}

.preview__attention {
  margin-bottom: 16px;
}

.preview__text {
  margin: 16px 0;
}

@media (max-width: @mobile-width) {
  .preview__button {
    font-size: 20px;
  }
}
