/* reset */
html,
body,
div,
span,
h1,
ul,
li {
  margin: 0;
  padding: 0
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

img {
  display: block;
  border: none
}

body {
  font: normal 16px/20px Roboto, 'Helvetica CY', Verdana, sans-serif;
  color: #333;
  background-color: #fff
}

.wrap {
  width: 100%;
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  padding: 40px 15px 0
}

.show {
  display: block
}

.headline {
  max-width: 1024px;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto 30px
}

/* transition */
.nav-ctrl span,
.dots-ctrl span {
  transition: all 0.3s
}

/*** CONTENT ***/
.gallery {
  width: 100%;
  max-width: 800px;
  visibility: hidden;
  margin: 0 auto 30px;
  background-color: #2e294b;
}

.slider {
  width: 100%;

  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.stage {
  overflow: hidden
}

.stage>div {
  float: left;
  position: relative
}

.stage>div img {
  /* width: 100%; */
  max-width: 800px;
  height: auto
}

.nav-ctrl {
  line-height: 20px;
  margin-top: 10px
}

.nav-ctrl .disable,
.nav-ctrl .disable:hover {
  border: solid 1px #357ebd;
  background-color: #428bca;
  opacity: 0.4;
  cursor: default
}

.dots-ctrl {
  display: none;
  margin-top: 10px
}
