.show {
  display: block
}

.headline {
  max-width: 1024px;
  font-weight: 500;
  font-size: 20px;
  margin: 0 auto 30px
}

/* transition */
.nav-ctrl span,
.dots-ctrl span {
  transition: all 0.3s
}

/*** CONTENT ***/
.gallery {
  width: 100%;
  max-width: 800px;
  visibility: hidden;
  margin: 0 auto 30px;
  background-color: #2e294b;
}

.slider {
  width: 100%;

  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.stage {
  overflow: hidden
}

.stage>div {
  float: left;
  position: relative
}

.stage>div img {
  /* width: 100%; */
  max-width: 800px;
  height: auto
}

.nav-ctrl {
  line-height: 20px;
  margin-top: 10px
}
